input {
  display: block;
}

#form-list {
  list-style: none;
}

#name {
  width: 70%;
  margin:auto;
}

#email {
  width: 70%;
  margin:auto;
}

#message {
  width: 70%;
  resize: none;
}

@media only screen and (max-width: 950px) {
    #message {
        width: 90%;
    }
}