/* Setting basic button style */

button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #000000;
  font-size: 25px;
  padding: 20px;
  width: fit-content;
  min-width: 130px;
  background-color: #fcff7a;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  margin: 20px 0;
}

button:hover {
  background: #feffb9;
  text-decoration: none;
}

button a {
  color: #000000;
}

/* Had to add this or the hamburger would inherit a yellow background. Ugly */

.hamburger {
  background: transparent;
}

/* Making buttons responsive so they don't take up so much of mobile screens */

@media only screen and (max-width: 500px) {
  button a {
    font-size: 70%;
  }

  button {
    min-width: 80px;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
}
