#home-portrait {
  border-radius: 100%;
  max-width: 40%;
  max-height: 90%;
  border: solid white 5px;
}

#about-me-portrait {
  border-radius: 15px;
  max-width: 40%;
  max-height: 90%;
  border: solid white 5px;
}

@media only screen and (max-width: 950px) {
  #home-portrait {
    order: -1;
    max-width: 200px;
  }

  #about-me-portrait {
    display: none;
  }
}
