/* Used this stylesheet to set up images */

#home-portrait {
  border-radius: 100%;
  max-width: 40%;
  max-height: 90%;
  border: solid white 3px;
}

#about-me-portrait {
  border-radius: var(--border-radius);
  max-width: 40%;
  max-height: 90%;
  border: solid white 3px;
}

#post-one-img {
  max-width: 50%;
}

/* A couple of responsive rules - home portrait gets reordered when the content is displayed in a single column, about me portrait disappears to maximise space for text.  */

@media only screen and (max-width: 950px) {
  #home-portrait {
    order: -1;
    max-width: 200px;
  }

  #about-me-portrait {
    display: none;
  }
}
